"*":
  achievements: {}
  "atom-pair":
    slack_url: "https://hooks.slack.com/services/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"
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  "color-picker":
    preferredFormat: "HEX"
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "lcov-info"
      "test-jumper"
      "autocomplete"
      "language-mustache"
      "jasmine-runner"
      "git-blame-plus"
      "achievements"
      "linter-scss-lint"
      "linter-jshint"
    ]
    projectHome: "/Users/Rob/projects"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    titleBar: "custom"
  "coverage-gutter":
    basePath: "/Users/Rob/projects/"
    pathToLCOV: "/Users/Rob/projects/"
  docblockr:
    development_mode: true
    indentation_spaces: 2
    param_description: false
    per_section_indent: true
  editor:
    invisibles: {}
    preferredLineLength: 120
    tabType: "soft"
  "exception-reporting":
    userId: "d82a7579-cb76-d105-661f-94d3c0c2084d"
  figlet: {}
  "git-blame":
    columnWidth: 252
    ignoreWhiteSpaceDiffs: true
  "git-blame-plus": {}
  "git-diff": {}
  hashrocket: {}
  "jscs-fixer":
    defaultPreset: "airbnb"
    esprima: true
  "jsdoc-generator": {}
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    fixOnSave: true
  "linter-jscs": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "linter-stylelint": {}
  "linter-ui-default":
    panelHeight: 124
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  mcduino:
    arduinoPath: "/Applications/Arduino.app"
  "node-debugger":
    isCoffeeScript: true
    nodePath: "/usr/local/bin/node"
  "package-generator": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  term2: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".handlebars.html.text":
  editor:
    preferredLineLength: 120
".html.mustache.text":
  editor:
    preferredLineLength: 120
".mustache.source.sql":
  editor:
    preferredLineLength: 120
