# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson


'.source.js':
  'My Name':
    'prefix': 'rt'
    'body': 'Rob Tarr $1'

  'Rewire':
    'prefix': 'rewire'
    'body': '$1.__Rewire__(\'$2\', {\n
      $3\n
});'

  'Rewire - Import':
    'prefix': 'rewirei'
    'body': 'import { __RewireAPI__ as $1RewireAPI} from \'$2\';'
